@mixin dark-mode {
  /* text */
  --c-color-base: 255, 255, 255;
  --c-color-dim-1: 214, 214, 214;
  --c-color-dim-2: 107, 107, 107;
  --c-color-dim-3: 54, 54, 54;

  /* bg */
  --c-bg-base: 8, 8, 19;
  --c-bg-dim-1: 21, 21, 30;
  --c-bg-dim-2: 32, 32, 40;
  
  --c-bg-card: var(--c-bg-dim-1);

  --c-state-error: 255, 129, 143;

  --c-overlay-bg: var(--c-black);
  
  /* elements */
  // separator
  --c-separator: 35, 35, 38;
  --c-separator-vivid: 45, 45, 49;
  --c-separator-muted: 28, 28, 30;
  // link
  --c-link-primary: var(--c-accent-secondary);
  // button
  --c-button-primary-bg: var(--c-accent-primary);
  --c-button-primary-color: var(--c-white);
  --o-button-primary-bg: 0.1;
  --o-button-primary-bg--hover: 0.2;

  --c-button-secondary-bg: var(--c-black);
  --c-button-secondary-color: var(--c-white);
  --o-button-secondary-bg: 0.5;
  --o-button-secondary-bg--hover: 1;

  /* shadows */
  --s-title: none;

  /* opacities */
  --o-modal-overlay: 0.75;
}
