@mixin dark-mode {
  --c-logo: var(--c-accent-primary);

  /* text */
  --c-color-base: 255, 255, 255;
  --c-color-dim-1: 214, 214, 214;
  --c-color-dim-2: 157, 157, 157;
  --c-color-dim-3: 104, 104, 104;

  /* bg */
  --c-bg-base: 8, 8, 19;
  --c-bg-dim-1: 26, 26, 35;
  --c-bg-dim-2: 40, 40, 47;

  --c-bg-card: var(--c-bg-dim-1);
  --o-bg-card: 0.05;

  --o-bg-form-section: 0.05;
  --o-border-form-section: 0.2;

  --c-state-error: 255, 129, 143;
  --c-state-warning: 255, 160, 36;

  --c-overlay-bg: var(--c-black);
  
  /* elements */
  // separator
  --c-separator: 53, 53, 53;
  --c-separator-vivid: 75, 75, 75;
  --c-separator-muted: 35, 35, 35;

  // link
  --c-link-primary: var(--c-accent-secondary);
  
  // input
  --c-input: var(--c-bg-card);
  --c-input-disabled: var(--c-bg-card);
  --o-input-bg: 1;
  --o-input-bg-disabled: 0.2;
  --c-input-text: var(--c-color-base);
  --c-input-text-disabled: var(--c-color-dim-2);

  // button
  // - primary
  --c-button-primary-bg: var(--c-bg-base);
  --o-button-primary-bg: 0.5;
  --o-button-primary-bg-hover: 1;
  --c-button-primary-color: var(--c-white);
  --c-button-primary-border: var(--c-accent-primary);
  --o-button-primary-border: 0.5;
  --o-button-primary-border-hover: 0.8;
  // - secondary
  --c-button-secondary-bg: var(--c-bg-dim-2);
  --o-button-secondary-bg: 0.4;
  --o-button-secondary-bg-hover: 0.6;
  --c-button-secondary-color: var(--c-white);
  --c-button-secondary-border: var(--c-separator);
  --o-button-secondary-border: 0.5;
  --o-button-secondary-border-hover: 1;

  // switcher
  // - container
  --c-switcher-off: var(--c-bg-card);
  --c-switcher-off-disabled: var(--c-bg-card);
  --c-switcher-on: var(--c-bg-card);
  --c-switcher-on-disabled: var(--c-bg-card);
  --o-switcher-bg: 1;
  --o-switcher-bg-hover: 1;
  --o-switcher-bg-disabled: 0.2;
  // - indicator
  --c-switcher-indicator-off: var(--c-color-dim-1);
  --c-switcher-indicator-off-disabled: var(--c-color-dim-3);
  --c-switcher-indicator-on: var(--c-color-base);
  --c-switcher-indicator-on-disabled: var(--c-color-dim-2);
  --o-switcher-indicator-bg: 0.9;
  --o-switcher-indicator-bg-hover: 1;
  --o-switcher-indicator-bg-disabled: 1;

  // radio
  --c-radio-bg: var(--c-bg-base);
  --o-radio-bg: 0;
  // - option
  --c-radio-option-text: var(--c-color-dim-2);
  --c-radio-option-text-hover: var(--c-color-dim-1);
  --c-radio-option-bg: var(--c-bg-card);
  --o-radio-option-bg: 0;
  --c-radio-option-checked-text: var(--c-color-base);
  --c-radio-option-checked-text-hover: var(--c-color-base);
  --c-radio-option-checked-bg: var(--c-bg-card);
  --o-radio-option-checked-bg: 1;

  // combo
  --c-combo-bg: var(--c-bg-card);
  --o-combo-bg: 0.9;
  // - option
  --c-combo-option-bg: var(--c-bg-dim-2);
  --o-combo-option-bg: 0;
  --o-combo-option-bg-hover: 1;

  // chains
  --c-chain-ethereum: 231, 231, 245;
  --c-chain-polygon: 171, 129, 238;
  --c-chain-bsc: 243, 186, 47;
  --c-chain-avalanche: 233, 63, 64;

  --c-testnet: 255, 160, 36;

  /* shadows */
  --s-title: none;

  /* opacities */
  --o-modal-overlay: 0.75;
  --o-outline: 0.3;
}
