@mixin light-mode {
  /* text */
  --c-color-base: 5, 5, 6;
  --c-color-dim-1: 69, 77, 84;
  --c-color-dim-2: 143, 154, 163;
  --c-color-dim-3: 199, 205, 209;

  /* bg */
  --c-bg-base: 249, 249, 255;
  --c-bg-dim-1: 240, 245, 252;
  --c-bg-dim-2: 231, 241, 249;

  --c-bg-card: var(--c-white);

  
  /* elements */
  // separator
  --c-separator: 222, 230, 237;
  --c-separator-vivid: 200, 210, 212;
  --c-separator-muted: 236, 240, 246;
  // link
  --c-link-primary: var(--c-accent-primary);
  // button
  --c-button-primary-bg: var(--c-accent-primary);
  --c-button-primary-color: var(--c-accent-primary);
  --c-button-secondary-bg: 219, 238, 254;
  --c-button-secondary-color: var(--c-accent-primary);

  /* shadows */
  --s-title: none;

  /* opacities */
  --o-modal-overlay: 0.5;
}
