@layer base {
  html {
    font-size: 16px; // 1rem
    @apply tw-font-sans tw-bg-base tw-text-base tw-leading-sm;
  }
  ::selection {
    @apply tw-bg-dim-2 tw-text-accent-primary;
  }

  a {
    @apply tw-cursor-pointer;
  }

  hr {
    width: 100%;
    borderColor: theme('borderColor.separator.DEFAULT');
  }
  
  input {
    width: 100%;
  }

  input,
  button {
    outline: none !important;
  }

  code {
    @apply tw-font-mono;
    @apply tw-rounded tw-bg-text-base tw-bg-opacity-20 tw-py-px tw-px-1;
    @apply tw-opacity-muted tw-text-7/8;
  }

  *:disabled {
    @apply tw-pointer-events-none tw-cursor-not-allowed tw-opacity-muted;
  }
}
