@layer base {
  html {
    font-size: 16px; // 1rem
    @apply tw-font-sans tw-bg-base tw-text-base tw-leading-sm;
  }
  ::selection {
    @apply tw-bg-dim-2 tw-text-accent-primary;
  }

  a {
    outline: none !important;
    @apply tw-cursor-pointer tw-outline-none;
    &:not([role="button"]) {
      @apply focus:tw-underline focus:tw-decoration-text-dim-3;
      @apply tw-link-muted;
      @apply tw-border-b tw-border-solid tw-border-separator-muted hover:tw-border-separator;
    }
  }

  hr {
    width: 100%;
    borderColor: theme('borderColor.separator.DEFAULT');
  }
  
  input {
    width: 100%;
  }

  input,
  button {
    outline: none !important;
  }

  code {
    @apply tw-font-mono;
    @apply tw-rounded tw-bg-text-base tw-bg-opacity-10 tw-py-px tw-px-1;
    @apply tw-opacity-muted tw-text-7/8;
  }

  *:disabled {
    @apply tw-pointer-events-none tw-cursor-not-allowed tw-opacity-muted;
  }

  // Headers-anchors (probably in rendered markdown)
  h1, h2, h3, h4, h5, h6 {
    & > a {
      @apply tw-relative;
      color: rgb(var(--c-color-base)) !important;
      text-decoration: none !important;
      @apply before:tw-absolute before:tw-left-[-0.625em] xs:before:tw-left-[-0.75em] before:tw-opacity-0 before:tw-duration-fast before:tw-pr-1 before:tw-text-accent-primary hover:before:tw-opacity-soft active:before:tw-opacity-full active:before:tw-scale-click before:tw-content-['#'];
    }
  }
}
