@layer base {
  @font-face {
    font-family: 'Mulish';
    font-weight: 900;
    font-display: swap;
    font-style: normal;
    src:
      local('Mulish'),
      url('../fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src:
      local('Roboto'),
      url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-display: swap;
    font-style: normal;
    src:
      local('Roboto'),
      url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
  }
}
