@layer utilities {
  // Layouts
  .tw-flex-center-x {
    @apply tw-flex tw-justify-center;
  }
  .tw-flex-center-y {
    @apply tw-flex tw-items-center;
  }
  .tw-flex-center {
    @apply tw-flex-center-x tw-flex-center-y;
  }

  // Utils
  .tw-b {
    @apply tw-border tw-border-solid;
  }

  // Shadows
  .tw-transition-nobg-fast {
    transition: all theme('transitionDuration.fast'), background-color 0s;
  }
  .tw-transition-nobg-normal {
    transition: all theme('transitionDuration.normal'), background-color 0s;
  }

  // Separators' borders-shadows
  .tw-shadow-separator {
    boxShadow: 0 0 0 1px theme('borderColor.separator.DEFAULT');
  }
  .tw-shadow-separator-muted {
    boxShadow: 0 0 0 1px theme('borderColor.separator.muted');
  }
  .tw-shadow-separator-vivid {
    boxShadow: 0 0 0 1px theme('borderColor.separator.vivid');
  }
}
