@use 'themes';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts';
@import 'base';
@import 'components';

@layer base {
  /* themes */
  :root {
    /* COMMON PALETTE */
    --c-black: 0, 0, 0;
    --c-white: 255, 255, 255;
    --c-accent-primary: 104, 57, 204;
    --c-accent-secondary: 49, 119, 255;

    // Default: light mode
    @include themes.light-mode;
  }
  .dark-mode {
    @include themes.dark-mode;
  }
}
